* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    list-style: none;;
}

:root {

    --line-color: #d8d8d8;
    --blue-color: #002c5f;
}

.arrow-up {
    width: 9px;
}
.arrow-down {
    width: 9px;
}
.arrow-right {
    width: 9px;
}
.arrow-left-menu {
    width: 20px;
}

.mobile-header {
    display: none;
}

.w-25 {
    width: 25px;
}

.mobile-image {
    display: none;
}

.top-header {
    border-bottom: 1px solid var(--line-color);
    text-align: right;
    padding: 6px;
}
.top-header a {
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
    background: 0;
    border: 0;
    padding-left: 10px;
    padding-right: 20px;
}
.top-header a:first-child {
    border-right: 1px solid var(--line-color);
}
.top-header img {
    width: 40px;
    vertical-align: middle;
}
.top-header span {
    margin-left: -10px;
    font-size: 0.75rem;
    color: dimgray;
}
.top-header-center {
    max-width: 1160px;
    margin: 0 auto;
}


/* second top header */
.second-header {
    border-bottom: 1px solid var(--line-color);
    padding: 10px 15px;
}

.second-header-inner {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
}
.second-header ul,
.second-header li {
    display: inline-block;
    padding: 0px 20px;
}

.second-header ul {
    height: 40px;
    margin: 0;
}

.second-header li {
    height: 100%;
}

.second-header li span {
    margin-right: 5px;
}

.second-header ul .active {
    border-bottom: 3px solid var(--blue-color);
}

.logo {
    width: 150px;
    vertical-align: middle;
}

.second-header-center {
    padding-top: 15px;
}

.second-header-center a {
    color: dimgray;
}

.second-header-right {
    text-align: right;
    padding-top: 15px;
}

.second-header-right a {
    color: #0A2C5A;
}

.percent-icon img {
    width: 12px;
}





/* mobile menu */
.mobile-menu {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    height: calc(100vh - 60px);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: #f9f9f9;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    padding: 0;
    z-index: 999;
    background-color: #f6f3f2;
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    
}
.mobile-menu a {
    color: black;
}

.mobile-menu ul li {
    padding: 15px 20px;
    border-bottom: 2px solid #e0e0e0;
    font-size: 30px;
    text-align: left;
}
.mobile-menu ul li:last-child {
    border-bottom: none;
}

.menu-toggle:checked + .mobile-header-inner + .mobile-menu {
    max-height: 1000px; /* large enough to show all content */
    opacity: 1;
    padding: 20px 0;
}
.mobile-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.hamburger-icon img {
    width: 25px;
}
.menu-toggle {
    display: none; 
}
.submenu > div {
    margin-left: 13px;
}
.back-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}


@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateOut {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.hamburger-icon img {
  transition: transform 0.3s ease;
}


/* third header */
.third-header {
    background-color: white;   
    border-bottom: 1px solid var(--line-color);
    position: absolute;
    width: 100%;
    z-index: 300;
}
.third-header-cancel-btn {
    display: block;
    border: 0;
    margin-top: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 120px;
}
.clearfix {
    clear: both;
}

.third-header a:link,
.third-header a:visited {
    color: dimgray;
}
.third-header a:hover {
    color: var(--blue-color);
}
.vehicles-image {
    width: 210px;
}

/* third header - first (vehicles) */
#menu-vehicles {
    display: none;
}
.third-header-vehicles > div:first-child {
    display: flex;
    justify-content: flex-end;
}
.section-vehicles {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--line-color);
    display: flex;
}
.section-vehicles > div {
    display: inline-block;
    padding: 40px 0px;
}
.section-vehicles > div > a > span {
    display: block;
    margin-top: 20px;
    font-size: 17px;
}
.section-vehicles > div:last-child {
    position: relative;
    width: 141px;
    margin-left: 40px;
    align-self: center;
}
.section-vehicles > div:last-child span {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    color: var(--blue-color);
    font-weight: 500;
}
.section-future {
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    color: #413f40;
}


/* third header - second (shopping tools) */
#menu-shopping-tools {
    display: none;
}
.third-header-shopping-tools > div:first-child {
    display: flex;
    justify-content: flex-end;
}
.third-header-shopping-tools {
    min-height: 350px;
}
.section-shopping-tools {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.section-shopping-tools > div {
    padding: 80px 0px;
}
.left-shopping-tools {
    text-align: center;
    font-size: 0;
    padding: 40px 0;
}
.left-shopping-tools ul {
    border-right: 1px solid var(--line-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px 20px;

}
.left-shopping-tools li {
    vertical-align: top;
    font-size: 1rem;
    margin-bottom: 40px;
}
.left-shopping-tools li a {
    display: block;
    color: #333;
}
.left-shopping-tools li a img {
    display: block;
    margin-bottom: 15px;
    width: 24px;
}
.left-shopping-tools li div {
    text-align: left;
}
.right-shopping-tools {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.right-shopping-tools ul {
    display: flex;
    flex-direction: column; 
    vertical-align: top;
    text-align: left;
    margin-left: 25px;
}
.right-shopping-tools li {
    margin-top: 13px;
}
.right-shopping-tools li:first-child {
    margin-top: 0;
}
.right-shopping-tools a {
    position: relative;
}
.imp-icon {
    position: absolute;
    left: -17px;
}
.link-icon {
    position: absolute;
    margin: 1px 0 0 3px;
}

.section-learn-more {
    text-align: center;
    background-color: #f6f3f2;
    height: 185px;
    margin-top: 30px;
}

.section-learn-more > div{
    text-align: left;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.learn-section-link {
    position: absolute;
    margin-left: -45px;
    margin-top: -5px;
}

.learn-section-link > img {
    width: 30px;
}

.section-learn-more div p {
    
    color: dimgray;
    margin-top: 20px;
    margin-bottom: 18px;
    line-height: 23px;
}

.blue-btn {
    border: 1px solid #413F40;
    background-color: var(--blue-color);
    color: #fff;

    padding: 0 12px;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    cursor: pointer;
    min-height: 44px;
}

.white-btn {
    border: 1px solid #413F40;
    background-color: #fff;
    color: var(--blue-color);

    padding: 0 12px;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    cursor: pointer;
    min-height: 44px;
}

#menu-owners {
    display: none;
}


/* banner  */
.banner img {
    width: 100%;
    height: auto;
}


/* main  */
.main {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    margin-top: 50px;
}

.main h1 {
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2.8rem);
}

.main-header {
    margin-top: 50px;
    position: sticky;
    top: 0px;
    padding-top: 20px;
    background-color: white;

    z-index: 100;
    box-shadow: 0 2px 0px rgba(0, 0, 0, .1)
}

.main-header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-header ul li {
    padding: 0 30px;
    margin: 10px 0;
    border-right: 1px solid black;
    
}

.main-header ul li a {
    color: var(--blue-color);
    font-size: 0.875rem;
    font-weight: 1000;
}

.main-header a:link,
.main-header a:visited {
    color: var(--blue-color);
}

.main-header ul li a:active {
    color: #4A68AD;
}

.main-header ul li:last-child {
    border-right: 0;
}

#elantra, #sonata, #venue, #kona, #tucson, #santa-fe, #santa-cruz, #kona-electric, #ioniq-5, #ioniq-6 {
    scroll-margin-top: 120px;
}

.vehicle-select {
    display: none;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f0f0f0;
    color: #333;
    margin: 1rem 0;
    appearance: none;
    background-image: url('./assets/icon/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

.vehicle-select:focus {
    outline: none;
    border-color: var(--blue-color);
     box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.main-list {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;

}

.main-list > li {
    background-color: #f8f8f8;
    margin: 40px 0 40px 0;
}

.vehicle-item {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem 8rem 4rem;
    gap: 5rem;
}
.vehicle-details {
    box-shadow: 0 2.52px 16.8px -8.4px rgba(0, 0, 0, .5);
    background-color: white;
    flex: 1 1 350px;
    max-width: 500px;
    width: 45%;
}
.vehicle-details .option-choice {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
}
.option-details {
    padding-bottom: 4rem;
}
.option-details ul {
    display: flex;
    gap: 5rem;
    justify-content: center;
}
.option-details li {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.option-details .option-purpose {
    font-size: 14px;
    font-weight: 400;
    color: dimgray;
}

.option-details .option-price {
    font-weight: bold;
    font-size: 30px;
    
}

.option-details .day {
    font-size: 14px;
    font-weight: 200;
    color: dimgray;
    
}


.choice-name {
    display: inline-block;
    color: rgb(66, 65, 65);
    font-weight: 580;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    font-size: 0.875rem;
}

.baseline {
    display: block;
    /* background-color: #007fa8; */
    background-color: rgb(66, 65, 65);
    width: 32px;
    height: 2px;
    margin: 0 auto;
    margin-top: 7px;
}
.option-car {
    position: absolute;
    width: 430px;
    margin-left: -130px;
    margin-top: -60px;
}


.vehicles-list a {
    font-size: 14px;
}

.vehicles-list a:link,
.vehicles-list a:visited {
    color: var(--blue-color);
}

.vehicles-list .arrow-right {
    width: 12px;
    position: absolute;
    margin: 4px 0 0 3px;
}
.vehicle-info {
    width: 35%;
}


.list-year {
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
    border-bottom: 2px solid #007fa8;;
}

.list-car-name {
    font-weight: 600;
    font-size: clamp(1.4rem, 4.5vw, 2.6rem);
    line-height: 150%;
}

.list-property {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
    color: dimgray;
    margin-bottom: 8px;
}

.price-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: normal;
    color: dimgray;
    margin-bottom: 4px;
}

.price-value {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: normal;
}

.btn-box {
    display: flex;
    gap: 1rem;
    margin-top: 27px;
    margin-bottom: 25px;
}

.btn-box button {
    padding: 20px 30px;
}




/* footer */
footer {
    background-color: #000E1E;
    padding: 30px 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    width: 100%;
    
}
  
.footer-column {
    flex: 1 1 180px;
    min-width: 180px;
}
  
.footer-column h4 {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: bold;
}
  
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-column li {
    margin-bottom: 12px;
}

.footer-column li:nth-child(1) {
    order: 2;
}
  
.footer-column li:nth-child(2) {
    order: 1;
}
  
  
.footer-column a {
    color: #c3cbd6;
    text-decoration: none;
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
}
  
.footer-column a:hover {
    color: #ffffff;
}
  
.footer-column img {
    margin-left: 6px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
  
.footer-cookie,
.footer-chat {
    position: fixed;
    bottom: 20px;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
  
.footer-cookie {
    left: 20px;
}
  
.footer-chat {
    right: 20px;
}
  
.footer-cookie img {
    width: 24px;
    height: 24px;
}
.footer-chat img {
    width: 33px;
    height: 30px;
}

.footer-details {
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 100px;
}

.footer-details > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-300 {
    width: 300px;
}

.w-40 {
    width: 40px;
}

.footer-details-text {
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    display: flex;

    align-items: center;
    padding: 20px 0;
}

.footer-details-text-description {
    font-size: 0.75rem;
    margin-left: 16px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
}


.footer-column h4::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  margin-top: 5px;
}




/* faq */
.footer-contact-form {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem 1rem;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.footer-contact-form h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.footer-contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.footer-contact-form input,
.footer-contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer-contact-form button {
    background-color: #4aa4d8;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.footer-contact-form button:hover {
    background-color: #388bb9;
}



/* mobile */
@media (max-width: 767px) {
  .top-header {
    display: none;
  }
  .second-header {
    display: none;
  }

  .mobile-header {
    display: block;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 1px solid var(--line-color);
  }

  .mobile-image {
    display: block;
  }
  .desktop-image {
    display: none;
  }

  .vehicle-select {
    display: block;
  }

  .main-header ul {
    display: none;
  }

  .vehicle-item {
    flex-direction: column-reverse;
    align-items: center;
    padding: 4rem 1rem 4rem 1rem;
  }
  .vehicle-info {
    width: 100%;
  }
  .vehicle-details {
    width: 100%;
  }
  .option-details ul {
    gap: 1.3rem;
  }
  .option-details .option-purpose {
    font-size: 0.875rem;
  }
  .option-details .option-price {
    font-size: clamp(1.3rem, 4vw, 1.9rem);
  }
  .option-details .day {
    font-size: 0.875rem;
  }
  .btn-box button {
    padding: 20px 10px;
  }

  #elantra, #sonata, #venue, #kona, #tucson, #santa-fe, #santa-cruz, #kona-electric, #ioniq-5, #ioniq-6 {
    scroll-margin-top: 20px;
}
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .top-header {
    display: none;
  }
  .second-header {
    display: none;
  }

  .mobile-header {
    display: block;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 1px solid var(--line-color);
  }

  .vehicle-item {
    align-items: center;
    padding: 4rem 2rem 4rem 2rem;
  }

  
  .option-details ul {
    gap: 2rem;
  }
}
